<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.opengl"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.GlShapeActivity">
        </activity>
        <activity android:name=".activity.GlVideoDecoderActivity">
        </activity>
        <activity android:name=".activity.GlVideoActivity">
        </activity>
        <activity android:name=".activity.GlBlendActivity">
        </activity>
        <activity android:name=".activity.GlFboActivity">
        </activity>
        <activity android:name=".activity.GlImageActivity">
        </activity>
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>